<!-- views/about.ejs -->
<h2>About Me</h2>
<p>I'm an ambitious person who knows what it takes to get where I want to.</p>
<p>I'm passionate about tech and exemplify this passion for it through different projects! Find out more in the projects section of this site.</p>